/* Slider */
.slick-slider{
    width: 100vw; height: 100vh;
    position: relative;
    display: block;
    
}

.slick-list{
    width: 52%; height: 50%;
    position: absolute; top: 0; right: 0;
    overflow-y: scroll;
    background: #e0cdbf;
}
.slick-list::-webkit-scrollbar{width: 0;}
.slick-track{width: 30%; height: 30%;}
.slick-slide{border-radius: 50%; overflow: hidden;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{
    display: block; height: auto; 
    
}
.slick-arrow.slick-hidden {display: none;}
